html {
	margin: 0;
	padding: 0;
	}

body { 
	font: 75% sans-serif;
	line-height: 1.88889;
	margin: 10px; 
	padding: 0;
	background-color: #A7BABE;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h1 {
	font-size: 18px;
}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #212634;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #FDFCFD;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}

.explanation{
	position: absolute;	
	left: 350px;
	width: 700px;
	top: 183px;
}
.participation{
	position: absolute;
	left: 690px;
	width: 700px;
	top: 183px;
}
.benefits{
	position: absolute;
	left: 1028px;
	width: 700px;
	top: 183px;
}

/* flip */

/* entire container, keeps perspective */
.preamble {
	perspective: 1000;
}
/* flip the pane when hovered */
.preamble:hover .flipper, .preamble.hover .flipper {
	transform: rotateY(180deg);
}

.preamble, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	color: 33,38,52;
	background-color: #B29B90;
	padding-left: 5px;
	font-size: 1.5em;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
}

/* entire container, keeps perspective */
.explanation {
	perspective: 1000;
}
	/* flip the pane when hovered */
.explanation:hover .flipper, .explanation.hover .flipper {
	transform: rotateY(180deg);
}

.explanation, .front, .back {
	width: 320px;
	height: 480px;
}

/* entire container, keeps perspective */
.participation {
	perspective: 1000;
}
	/* flip the pane when hovered */
.participation:hover .flipper, .participation.hover .flipper {
	transform: rotateY(180deg);
}

.participation, .front, .back {
	width: 320px;
	height: 480px;
}

/* entire container, keeps perspective */
.benefits {
	perspective: 1000;
}
/* flip the pane when hovered */
.benefits:hover .flipper, .benefits.hover .flipper {
	transform: rotateY(180deg);
}

.benefits, .front, .back {
	width: 320px;
	height: 480px;
}

